include LICENSE
include README.md
include CMakeLists.txt
include CMakePresets.json
graft cmake
graft src
graft include
graft bindings/python
include tests/c/templates/*.in
global-exclude *.pyc __pycache__ *.so *.dylib *.dll
prune tmp
prune build
